body.custom-outline-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;

}

.custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-section-bg-container {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/djlyyypal/image/upload/v1698826194/r2tlkohmmo6bqx4jrota.png");
    background-size: cover;
}

#micro-bar {
    color: #ffffff;
    background-color: green;
    font-family: "Roboto";
    font-weight: 500;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.banner-section-container {
    background-color: #0a6613;
    height: 100vh;
    background-size: cover;
}

.ban-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    text-align: center;
}

.ban-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.main-heading {
    font-family: "Roboto";
    padding: 20px;
}

.paragraph {
    font-family: "Roboto";
    padding: 20px;
}

.button1 {
    background-color: #09734a;
    border-radius: 10px;
    border-color: #09734a;
    color: white;
    padding: 10px;
}

.static {
    background-color: #e6e4df;
}

.please {
    font-family: "Roboto";
}

.join {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.services {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.use {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.top {
    font-family: "Roboto";

}

.bpedia {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
}

.total {
    background-color: #e6e4df;

}

.heading {
    font-family: "Roboto";
    font-size: 18px;
    margin-top: 5px;
    padding: 15px;
}

.main {
    font-family: "Roboto";
    font-size: 18px;

    margin-top: 5px;
    padding: 15px;
}

.upload {
    font-family: "Roboto";
    font-size: 24px;
}

.choose {
    font-size: 18px;
}

.dect {
    font-family: "Roboto";
    padding: 10px;
    font-weight: bold;
    font-size: 26px;
}

.button1 {
    background-color: #3b87e3;
    border-color: #3b87e3;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;

}

.amiba {
    width: 100%;
}

.total {
    background-color: #e6e4df;
}

.heading {
    font-family: "Roboto";
    font-size: 18px;
    margin-top: 5px;
    padding: 15px;
}

.main {
    font-family: "Roboto";
    font-size: 18px;

    margin-top: 5px;
    padding: 15px;
}

.upload {
    font-family: "Roboto";
    font-size: 24px;
}

.choose {
    font-size: 18px;
}